<section class="bg-white dark:bg-gray-900 py-8 md:py-16 flex justify-center items-center">
  <div class="ctn flex items-center justify-center">
    <div class="py-4 max-w-3xl">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">
        {{ "contactUs.title" | translate }}
      </h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">
        {{ "contactUs.text" | translate }}
      </p>
      <form action="#" class="space-y-8" [formGroup]="contactUsForm">
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            {{ "contactUs.emailFieldLabel" | translate }}
          </label>
          <input
            type="email"
            id="email"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
          focus:ring-primary-500 focus:border-primary-500
          block w-full p-2.5
          dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500
          dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="name@company.com"
            formControlName="email"
            [class.invalid]="isValidInput(contactUsForm, 'email')"
            [class.valid]="getInputValue(contactUsForm, 'email')">
          @if (isValidInput(contactUsForm, 'email')) {
            <p class="invalid-message mt-2 text-xs text-red-600 dark:text-red-400">
              {{ "contactUs.emailInvalidMessage" | translate }}
            </p>
          }
        </div>

        <div>
          <label
            for="subject"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            {{ "contactUs.subjectFieldLabel" | translate }}
          </label>
          <input
            type="text"
            id="subject"
            class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm
          focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
          dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
            placeholder="{{ 'contactUs.subjectFieldPlaceholder' | translate }}"
            formControlName="subject"
            [class.invalid]="isValidInput(contactUsForm, 'subject')"
            [class.valid]="getInputValue(contactUsForm, 'subject')">
          @if (isValidInput(contactUsForm, 'subject')) {
            <p class="invalid-message mt-2 text-xs text-red-600 dark:text-red-400">
              {{ "contactUs.subjectFieldInvalidMessage" | translate }}
            </p>
          }
        </div>

        <div class="sm:col-span-2">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">
            {{ "contactUs.textAreaFieldLabel" | translate }}
          </label>
          <textarea
            id="message"
            rows="6"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300
          focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600
          dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="{{ 'contactUs.textAreaFieldPlaceholder' | translate }}"
            formControlName="message"
            [class.invalid]="isValidInput(contactUsForm, 'message')"
            [class.valid]="getInputValue(contactUsForm, 'message')">
        </textarea>
          @if (isValidInput(contactUsForm, 'message')) {
            <p class="invalid-message mt-2 text-xs text-red-600 dark:text-red-400">
              {{ "contactUs.textAreaFieldInvalidMessage" | translate }}
            </p>
          }
        </div>
        <div class="max-[540px]:text-center">
          <button
            type="submit"
            class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit
        hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300
        dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800
        disabled:bg-gray-300 disabled:text-slate-500 disabled:border-gray-600 disabled:cursor-not-allowed
        dark:disabled:bg-slate-400 dark:disabled:text-white dark:disabled:border-gray-600"
            title=" {{ 'contactUs.buttonTitle' | translate }}"
            [disabled]="contactUsForm.invalid"
            (click)="sendMessage()">
            {{ "contactUs.buttonText" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
